# Byte-compiled / optimized / DLL files
*/__pycache__/
*.py[cod]

# tester output images
combined-demo/intermediate-imgs/*.*
combined-demo/output-imgs/*.*

# outfit dataset
color-analysis/fashion-dataset-small/*.*
*.csv